{% extends "base.html" %}
{% block nav-observation %}active{% endblock %}

{% block body %}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Set Date and Time</h1>
      </div>
      <div class="modal-body">
          <input type="datetime">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal2">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel2">Insert Temperature</h1>
      </div>
      <div class="modal-body">
          <input type="number">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Back</button>
           <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal3">Next</button>
      </div>
    </div>
  </div>
</div>

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel3">Summary</h1>
      </div>
      <div class="modal-body">
          <h2>Date Time</h2>
          <p>Apr 24 2016 20:50:00</p>
          <h2>Temperature</h2>
          <p>70</p>
          <hr>
          <h2>Save Data?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal, #myModal2, #myModal3" >Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>
{% endblock %}