{% extends "add_model.html" %}
{% block BodyExtended %}
    <div>
        <h3>Current Feedback</h3>
        <ul>
        {% for fBack in feedback %}
            {% if not fBack.closed_date %}
            <li>
            <span>{{ fBack.datetime }} : </span><span>{{ fBack.feedback }}</span>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        <hr>
        <h3>Closed Feedback</h3>
        <ul>
        {% for fBack in feedback %}
            {% if fBack.closed_date %}
            <li>
            <span>{{ fBack.datetime }} : </span><span>{{ fBack.feedback }}</span>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
