{% load rest_framework %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datetimepicker.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js"></script>



    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet"  href="/static/css/weather-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock head %}
</head>
<body>

<nav>
    <ul class="nav nav-pills navbar-default">
        <li role="presentation" class="{% block nav-home %}{% endblock %}"><a href="/">Home</a></li>
        <li role="presentation" class="dropdown {% block nav-work %}{% endblock %}">
            <a class="dropdown-toggle " data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Work <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url "add_work_completed" %}">Work Completed</a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="dropdown {% block nav-observations%}{% endblock %}">
            <a class="dropdown-toggle " data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Observations <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">

                    {% comment %}
                    <a href="{% url "add_temperature_alpha" %}">(Alpha) Temperature</a>
                    {% endcomment %}

                    <a href="{% url "add_observation" %}">Observation</a>
                    <a href="{% url "add_temperature" %}">Temperature</a>
                    <a href="{% url "add_weather" %}">Weather</a>
                </li>
            </ul>
        </li>
        <!--<ul class="nav navbar-nav pull-right">-->
        <li role="presentation" class="pull-right">
        <ul class="nav" id="login-dropdown" >
            {% block userlinks %}
                {% if user.is_authenticated %}
                    {% optional_logout request user %}
                {% else %}
                    {% optional_login request %}
                {% endif %}
            {% endblock %}
        </ul>
        </li>
        <li role="menu">
            <a href="/admin">Admin</a>
        </li>
    </ul>
</nav>




{# BODY. Where everything should go #}
{% block body %}
{% endblock body %}



{# Main Frame Libraries #}
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
<!-- Latest compiled and minified JavaScript -->
{% block scripts %}
{% endblock %}
