{% extends "base.html" %}
{% load rest_framework %}


{% block body %}
<nav>
    <ul class="nav nav-pills navbar-default">
        <li role="presentation" class="{% block nav-home %}{% endblock %}">
            <a class="btn btn-lg" href="/work-site">Home</a>
        </li>
        <li role="presentation" class="dropdown {% block nav-work %}{% endblock %}">
            <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Work <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="btn btn-lg" role="presentation">
                    <a href="{% url "add_work_completed" %}">Work Completed</a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="dropdown {% block nav-observations%}{% endblock %}">
            <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Observations <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">


                    <a class="btn btn-lg" href="{% url "add_observation" %}">Observation</a>
                    <a class="btn btn-lg" href="{% url "add_temperature" %}">Temperature</a>
                    <a class="btn btn-lg" href="{% url "add_weather" %}">Weather</a>
                </li>
            </ul>
        </li>
     <li role="presentation" class="dropdown{% block nav-livestock%}{% endblock %}">
            <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Livestock<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a class="btn btn-lg" href="{% url "add_egg_collection" %}">Eggs</a>
                </li>
            </ul>
     </li>
     <li role="presentation" class="dropdown{% block nav-plants%}{% endblock %}">
            <a class="dropdown-toggle btn btn-lg" data-toggle="dropdown"
               role="button"
               aria-expanded="false">
                Plants<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a class="btn btn-lg" href="{% url "add_resource" %}">Resource</a>
                    <a class="btn btn-lg" href="{% url "add_harvest" %}">Harvest</a>
                    <a class="btn btn-lg" href="{% url "add_watering" %}">Watering</a>
                    <a class="btn btn-lg" href="{% url "add_plant_productivity" %}">Productivity</a>
                    <a class="btn btn-lg" href="{% url "add_bloom" %}">Bloom</a>
                </li>
            </ul>
        </li>
        <!--<ul class="nav navbar-nav pull-right">-->
        <li role="presentation" class="pull-right">
        <ul class="nav" id="login-dropdown" >
            {% block userlinks %}
                {% if user.is_authenticated %}
                    {% optional_logout request user %}
                {% else %}
                    {% optional_login request %}
                {% endif %}
            {% endblock %}
        </ul>
        </li>
        <li role="menu">
            <a class="btn btn-lg" href="{% url 'add_note' %}">Notes</a>
        </li>
        <li role="menu">
            <a class="btn btn-lg" href="/admin">Admin</a>
        </li>
    </ul>
</nav>
    {# More Body Content #}
{% block body_cont %}
{% endblock body_cont %}

{% endblock body %}


