{% load observation_tags %}
{% load farm_log_core_tags %}

<div class="day-summary">
    <h2>
        {{ summary.date|date:"M d Y D" }}
    </h2>
    <h3>
        Work
    </h3>
    <div>
        {% if summary.eggs %}
        <p>Eggs Collected: {{ summary.eggs }}</p>
        {% endif %}
        {% if summary.harvests %}
        <h4>Harvests</h4>
        <ul>
            {% for harvest in summary.harvests %}
            <li>
                {{ harvest }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {%  if summary.work_completed %}
        {% for workSummary in summary.work_completed %}
        <h5>{{ workSummary.project_name }}</h5>
        <ul>
            {% for work in workSummary.work_items %}
            <li>{{ work.datetime|get_time }} - {{ work.work|get_summary }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% else %}
            <p>No Work Performed</p>
        {% endif %}
    </div>
    {% if summary.observations %}
    <h3>
        Observations
    </h3>
    <p>{{ summary.observations|length }} observations Taken</p>
    <ul>
        {% for ob in summary.observations %}
            <li>
                <p>{{ ob.observation_date|get_time }} - {{ ob.observation }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}
    <ul>
    </ul>
    {% if summary.temperature_readings or summary.weather_readings %}
    <h4>Weather</h4>
    {% if summary.weather_readings %}
        {% for reading in summary.weather_readings %}
                <span aria-hidden="true" class="{{ reading|get_weather_symbol }}"></span>
        {% endfor %}
    {% else %}
    {% endif %}
    {% if summary.temperature_readings %}
    <ul>
        {% for reading in summary.temperature_readings %}
        <li>
            {{ reading.datetime|get_time }} - {{ reading.value }} &#x00B0;{{ reading.unit }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}
    {% endif %}
    <hr>
</div>