{% load observation_tags %}

<div class="day-summary">
    <h2>
        {{ summary.date|date:"M d Y D" }}
    </h2>
    <h3>
        Work
    </h3>
    <div>
        {% if summary.eggs %}
        <p>Eggs Collected: {{ summary.eggs }}</p>
        {% endif %}
        {% if summary.harvests %}
        <h4>Harvests</h4>
        <ul>
            {% for harvest in summary.harvests %}
            <li>
                {{ harvest }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {%  if summary.work_completed %}
        {% for workSummary in summary.work_completed %}
        <h5>{{ workSummary.project_name }}</h5>
        <ul>
            {% for work in workSummary.work_items %}
            <li>{{ work }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% else %}
            <p>No Work Performed</p>
        {% endif %}
    </div>
    <h3>
        Observations
    </h3>
    {% if summary.observations %}
    <p>{{ summary.observations|length }} observations Taken</p>
    <ul>
        {% for ob in summary.observations %}
            <li>
                <p>{{ ob }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>0 Observations Taken</p>
    {% endif %}
    <ul>
    </ul>
    <h4>Weather Status</h4>
    {% if summary.weather_readings %}
    <ul>
        {% for reading in summary.weather_readings %}
            <li>
                <p aria-hidden="true" class="{{ reading|get_weather_symbol }}">{{ reading|get_weather_state_in_full }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No Weather Readings</p>
    {% endif %}
    {% if summary.temperature_readings %}
    <h4>
        Temperature Readings
    </h4>
    <ul>
        {% for reading in summary.temperature_readings %}
        <li>
            {{ reading }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No Temperature Readings Taken</p>
    {% endif %}
    <hr>
</div>