{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}

{% load grow_journal_core_tags %}

{% block title %}Grow Journal - Record Your Observations and Interactions{% endblock %}

{% block  body %}
<div class="container">
    <div class="main-portal col-xs-12 window">
        <h2>Welcome {{ request.user }}</h2>
        {% if request.user.is_authenticated %}
            <div class="main-controls row-fluid">
                <div class="col-xs-6 main-left">
                    {% if user_sites %}
                    <a class="btn btn-default btn-block btn-lg" href="{% url 'add_observation' %}">Harvest</a>
                    <a class="btn btn-default btn-block btn-lg">Plant</a>
                    {% endif %}
                    <a class="btn btn-default btn-block btn-lg" href="{% url 'setup' %}">Setup</a>
                    {% if not user_sites %}
                        <p>You need to add a site. Click Setup.</p>
                    {% endif %}
                </div>
                <div class="col-xs-6 main-right">
                    {% if user_sites %}
                    <a class="btn btn-default btn-block btn-lg">Observe</a>
                    <a class="btn btn-default btn-block btn-lg">Task Done</a>
                    <a class="btn btn-default btn-block btn-lg">Prediction</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="anon-user">
                <h1>Grow Journal</h1>
                <br>
                <p>
                    My children, family, friends, and community need the best information about growing healthy food.
                </p>
                <p>
                    By recording our growing experiences we are able to communicate what we are doing so we are offered the opportunity to piece together our past, present and future.
                </p>
                <p>
                    But this valuable information is locked away on pages of books, files on computers, and random websites. None of which linked together or organized.
                </p>
                <p>
                    We know fixing this problem for like minded people with the help of computers will create a powerful technology never before seen.
                </p>
                <p>
                    Grow Journal is a platform that enables growers everywhere the ability to digitally log, store, analyze, and share their most valuable information and results.
                </p>
                <div class="col-xs-12">
                    <img style="width:100%" src="https://upload.wikimedia.org/wikipedia/commons/4/41/NSFNET-traffic-visualization-1991.jpg">
                    <span>This is so totally what it'll look like..... (In abstraction of course)</span>
                </div>
                <div class="col-xs-offset-1 col-xs-4">

                    <a class="btn btn-default btn-lg" href="">Join Now</a>
                </div>
                <div class="col-xs-offset-1 col-xs-4">
                    <a class="btn btn-default btn-lg" href="{{ loginUrl }}">Login</a>
                </div>
            </div>
        {% endif %}
        </div>
</div>
<div class="container">
    <div class="col-xs-12 bottom-portal window">
        <h2>Latest Entries</h2>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% comment %}
    <script src="{% static "js/offcanvas.js" %}"></script>
    <script>
        $(document).ready(function () {
            var workToggle = $('#work-toggle');
            workToggle.parent().click(function () {
                $('.work').toggle();
            });
            var weatherToggle = $('#weather-toggle');
            weatherToggle.parent().click(function () {
                $('.weather').toggle();
            });
            var harvestToggle = $('#harvest-toggle');
            harvestToggle.parent().click(function () {
                $('.harvest').toggle();
            });
            var observationToggle = $('#observation-toggle');
            observationToggle.parent().click(function () {
                $('.observation').toggle();
            });
            $('[data-toggle="popover"]').popover();
        });
    </script>
    {% endcomment %}
{% endblock %}