{% extends "base.html" %}

{% load observation_tags %}
{% load farm_log_core_tags %}


{% block  body%}
    <div class="container-fluid>">
        <div class="row">
            <div class="log-header col-xs-12 bb-blue-background">
                <h1 class="text-center">Work and Observation Logs</h1>
                <p>This website is the front face to Bonnie Blue Farms and Nursery's logs which are
                    collected using a framework we've built to track and manage the farm entirely
                    from our smart phones.
                </p>
                <p>
                    This is the front seat of the raw information that Bonnie Blue collects
                    in order to make a smarter farm and understand the world its growing in.
                </p>
            </div>
        </div>
        <div class="text-center">
            <hr>
        </div>
        <div class="log-settings row">
            <style>
                .slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
                .fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
                .quick .toggle-group { transition: none; -webkit-transition: none; }
            </style>
            <div class="col-xs-12">
                <div class="text-center">
                    <label class="checkbox-inline">
                        <input id="weather-toggle" data-on="Weather" data-off="Weather" type="checkbox" checked data-toggle="toggle" data-style="quick" data-onstyle="success">
                    </label>
                    <label class="checkbox-inline">
                        <input id="work-toggle" data-on="Work" data-off="Work" type="checkbox" checked data-toggle="toggle" data-style="quick">
                    </label>
                    <label class="checkbox-inline">
                        <input id="harvest-toggle" data-on="Harvests" data-off="Harvests" type="checkbox" checked data-toggle="toggle" data-style="quick" data-onstyle="danger">
                    </label>
                    <label class="checkbox-inline">
                        <input id="observation-toggle" data-on="Observations" data-off="Observations" type="checkbox" checked data-toggle="toggle" data-style="quick" data-onstyle="info">
                    </label>
                </div>
            </div>
        </div>
        {% for report in daily_reports %}
            <div class="log-day bb-green-background">
                <div class="row log-day-header bb-blue-background">
                    <h2 class="col-xs-12 text-center">
                        {{ report.date|date:"M d Y D" }}
                    </h2>
                </div>
                <div class="log-day-body">
                    {% if report.temperature_readings or report.weather_readings %}
                        <div class="row weather">
                            {% if report.weather_readings %}
                                {% for reading in report.weather_readings %}
                                    <span aria-hidden="true" class="col-xs-1 weather-icon {{ reading|get_weather_symbol }}"></span>
                                {% endfor %}
                            {% else %}
                            {% endif %}
                            {% if report.temperature_readings %}
                                <span class="col-xs-6">{{  report.temperature_readings | get_high_low_string }}</span>
                            {% else %}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if report.work_completed %}
                        <div class="work">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="full-bg-primary">Work</h4>
                                </div>
                            </div>
                            {% for workSummary in report.work_completed %}
                                        <h5>{{ workSummary.project_name }}</h5>
                                            <ul>
                                                {% for work in workSummary.work_items %}
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <li>
                                                                {{ work.datetime|get_time }} - {{ work.work|get_summary }}
                                                                <button type="button" class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#work_modal_{{ work.work_completed_id }}">Details</button>
                                                                <div id="work_modal_{{ work.work_completed_id }}" class="modal fade" role="dialog">
                                                                    <div style="color:black" class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                {{ work.summary }}
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                {{ work.work }}
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                           {% endfor %}
                        </div>
                    {% endif %}

                    {% if report.harvests %}
                        <div class="harvest row ">
                            <div class="col-xs-12">
                                <h4 class="full-bg-danger">Harvests</h4>
                                <ul>
                                    {% for harvest in report.harvests %}
                                    <li>
                                        {{ harvest }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if report.observations %}
                        <div class="observation row ">
                            <div class="col-xs-12">
                                <h4 class="full-bg-info">Observations</h4>
                                <p>{{ report.observations|length }} observations Taken</p>
                                <ul>
                                    {% for ob in report.observations %}
                                        <li>
                                            <p>{{ ob.observation_date|get_time }} - {{ ob.observation|get_summary }}
                                                <button type="button" class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#observation_modal_{{ ob.observation_id}}">Details</button>
                                                <div id="observation_modal_{{ ob.observation_id}}" class="modal fade" role="dialog">
                                                    <div style="color:black" class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                {{ ob.summary }}
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ ob.observation }}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a class="btn btn-primary btn-lg" href="{% url "home" %}">Start</a>
                    <a class="btn btn-primary btn-lg" href="{% url "home" page=previous_page %}"
                    {% if previous_page < 0 %}
                        disabled
                    {% endif %}
                    >Previous</a>
                    <a class="btn btn-primary btn-lg" href="{% url "home" page=next_page %}">Next</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            var workToggle = $('#work-toggle');
            workToggle.parent().click(function(){
                $('.work').toggle();
            });
            var weatherToggle = $('#weather-toggle');
            weatherToggle.parent().click(function(){
                $('.weather').toggle();
            });
            var harvestToggle = $('#harvest-toggle');
            harvestToggle.parent().click(function(){
                $('.harvest').toggle();
            });
            var observationToggle = $('#observation-toggle');
            observationToggle.parent().click(function(){
                $('.observation').toggle();
            });
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}