{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}

{% block title %}Grow Journal - Setup{% endblock %}
{% block body %}
    <div class="container">
        <div class="window">
            <h1>Setup</h1>
            <h2>System</h2>
                <a class="btn btn-default btn-block" href="">Genus</a>
                <a class="btn btn-default btn-block" href="">Species</a>
                <a class="btn btn-default btn-block" href="">Variety</a>
            <h2>User Config</h2>
            <a class="btn btn-default btn-block" href="{% url 'add_site' %}">Sites</a>
            <a class="btn btn-default btn-block" href="">Projects</a>
        </div>
    </div>
{% endblock %}